### Матричные факторизации

В данной работе вам предстоит познакомиться с практической стороной матричных разложений.

Работа поделена на 4 задания:
1. Вам необходимо реализовать SVD разложения используя SGD на explicit данных
2. Вам необходимо реализовать матричное разложения используя ALS на implicit данных
3. Вам необходимо реализовать матричное разложения используя BPR(pair-wise loss) на implicit данных
4. Вам необходимо реализовать матричное разложения используя WARP(list-wise loss) на implicit данных

Мягкий дедлайн 7 марта (пишутся замечания, выставляется оценка, есть возможность исправить до жесткого дедлайна)

Жесткий дедлайн 14 марта (Итоговая проверка)

In [429]:
import implicit
import numpy as np
import pandas as pd
import scipy.sparse as sp
from time import time

В данной работе мы будем работать с explicit датасетом movieLens, в котором представленны пары user_id movie_id и rating выставленный пользователем фильму

Скачать датасет можно по ссылке https://grouplens.org/datasets/movielens/1m/

### Считываем данные для юзеров и фильмов

In [430]:
ratings = pd.read_csv('data/ratings.dat', 
                      delimiter='::', 
                      header=None,
                      names=['user_id', 'movie_id', 'rating', 'timestamp'], 
                      usecols=['user_id', 'movie_id', 'rating'], 
                      engine='python')

movie_info = pd.read_csv('data/movies.dat', 
                         delimiter='::', 
                         header=None,
                         names=['movie_id', 'name', 'category'], 
                         engine='python')

**Для удобства поменяем индексы**

In [431]:
ratings['user_id'] -= 1
ratings['movie_id'] -= 1
movie_info['movie_id'] -= 1

In [432]:
ratings.head(10)

   user_id  movie_id  rating
0        0      1192       5
1        0       660       3
2        0       913       3
3        0      3407       4
4        0      2354       5
5        0      1196       3
6        0      1286       5
7        0      2803       5
8        0       593       4
9        0       918       4

In [433]:
movie_info.head(10)

   movie_id                                name                      category
0         0                    Toy Story (1995)   Animation|Children's|Comedy
1         1                      Jumanji (1995)  Adventure|Children's|Fantasy
2         2             Grumpier Old Men (1995)                Comedy|Romance
3         3            Waiting to Exhale (1995)                  Comedy|Drama
4         4  Father of the Bride Part II (1995)                        Comedy
5         5                         Heat (1995)         Action|Crime|Thriller
6         6                      Sabrina (1995)                Comedy|Romance
7         7                 Tom and Huck (1995)          Adventure|Children's
8         8                 Sudden Death (1995)                        Action
9         9                    GoldenEye (1995)     Action|Adventure|Thriller

### Explicit данные

Для того, чтобы преобразовать текущий датасет в Implicit, давайте считать что позитивная оценка это оценка **>=4**

In [434]:
implicit_ratings = ratings[ratings.rating >= 4]

In [435]:
implicit_ratings.head(10)

    user_id  movie_id  rating
0         0      1192       5
3         0      3407       4
4         0      2354       5
6         0      1286       5
7         0      2803       5
8         0       593       4
9         0       918       4
10        0       594       5
11        0       937       4
12        0      2397       4

Удобнее работать с sparse матричками, давайте преобразуем DataFrame в CSR матрицы

In [436]:
users = implicit_ratings["user_id"]
movies = implicit_ratings["movie_id"]
user_item = sp.coo_matrix((np.ones_like(users), (users, movies)))
user_item_t_csr = user_item.T.tocsr()
user_item_csr = user_item.tocsr()

user_item_csr

<6040x3952 sparse matrix of type '<class 'numpy.int64'>'
	with 575281 stored elements in Compressed Sparse Row format>

В качестве примера воспользуемся ALS разложением из библиотеки implicit

Зададим размерность латентного пространства равным 64, это же определяет размер user/item эмбедингов

In [437]:
model = implicit.als.AlternatingLeastSquares(factors=64, iterations=100, calculate_training_loss=True)

В качестве loss здесь всеми любимый RMSE

In [438]:
model.fit(user_item_t_csr)

HBox(children=(HTML(value=''), FloatProgress(value=0.0), HTML(value='')))

Построим похожие фильмы по 0 movie_id = Истории игрушек

In [439]:
TOY_STORY_ID = 0
movie_info.loc[TOY_STORY_ID]

movie_id                              0
name                   Toy Story (1995)
category    Animation|Children's|Comedy
Name: 0, dtype: object

In [440]:
## Вспомогательные функции для вывода результатов

def get_movies(idxs):
    return movie_info.set_index('movie_id').loc[[i for i in idxs if i in set(movie_info.movie_id)]]

def get_history(user_id, df):
    movie_ids = df[df['user_id'] == user_id]['movie_id'].to_numpy()
    return get_movies(movie_ids)

def get_recommendations(user_id, model, user_item_matrix=None):
    if user_item_matrix is None:
        return get_movies(model.recommend(user_id))
    else:
        ids = [film_id for (film_id, score) in model.recommend(user_id, user_item_matrix)]
        return get_movies(ids)


def get_similar_movies(item_id, model):
    similar = model.similar_items(item_id)           # [(id, score)]
    movie_ids      = [film_id for (film_id, _) in similar]
    return get_movies(movie_ids)

Как мы видим, симилары действительно оказались симиларами.

Качество симиларов часто является хорошим способом проверить качество алгоритмов.

P.S. Если хочется поглубже разобраться в том как разные алгоритмы формируют разные латентные пространства, рекомендую загружать полученные вектора в tensorBoard и смотреть на сформированное пространство

In [441]:
TOY_STORY_ID = 0
get_similar_movies(TOY_STORY_ID, model)

,name,category
movie_id,,
0,Toy Story (1995),Animation|Children's|Comedy
3113,Toy Story 2 (1999),Animation|Children's|Comedy
2354,"Bug's Life, A (1998)",Animation|Children's|Comedy
33,Babe (1995),Children's|Comedy|Drama
587,Aladdin (1992),Animation|Children's|Comedy|Musical
2383,Babe: Pig in the City (1998),Children's|Comedy
363,"Lion King, The (1994)",Animation|Children's|Musical
1565,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical
2320,Pleasantville (1998),Comedy
2760,"Iron Giant, The (1999)",Animation|Children's

Давайте теперь построим рекомендации для юзеров

Как мы видим юзеру нравится **фантастика**, значит и в рекомендациях ожидаем увидеть **фантастику**

In [442]:
USER_ACTION_ID = 3
get_history(USER_ACTION_ID, implicit_ratings)

,name,category
movie_id,,
3467,"Hustler, The (1961)",Drama
2950,"Fistful of Dollars, A (1964)",Action|Western
1213,Alien (1979),Action|Horror|Sci-Fi|Thriller
1035,Die Hard (1988),Action|Thriller
259,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2027,Saving Private Ryan (1998),Action|Drama|War
479,Jurassic Park (1993),Action|Adventure|Sci-Fi
1197,Raiders of the Lost Ark (1981),Action|Adventure
1953,Rocky (1976),Action|Drama
1096,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
3417,Thelma & Louise (1991),Action|Drama
3701,Mad Max (1979),Action|Sci-Fi
2365,King Kong (1933),Action|Adventure|Horror
1386,Jaws (1975),Action|Horror
1200,"Good, The Bad and The Ugly, The (1966)",Action|Western
2691,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
2946,Goldfinger (1964),Action
1239,"Terminator, The (1984)",Action|Sci-Fi|Thriller

### Получилось! 

Мы действительно порекомендовали пользователю **фантастику и боевики**, более того встречаются **продолжения** тех фильмов, которые он высоко оценил

In [443]:
get_recommendations(USER_ACTION_ID, model, user_item_csr)

,name,category
movie_id,,
588,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
1303,Butch Cassidy and the Sundance Kid (1969),Action|Comedy|Western
1290,Indiana Jones and the Last Crusade (1989),Action|Adventure
1195,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
2570,"Matrix, The (1999)",Action|Sci-Fi|Thriller
1199,Aliens (1986),Action|Sci-Fi|Thriller|War
1952,"French Connection, The (1971)",Action|Crime|Drama|Thriller
3526,Predator (1987),Action|Sci-Fi|Thriller
857,"Godfather, The (1972)",Action|Crime|Drama
3470,Close Encounters of the Third Kind (1977),Drama|Sci-Fi

Теперь ваша очередь реализовать самые популярные алгоритмы **матричных разложений**

### Что будет оцениваться:
 - Корректность алгоритма
 - Качество получившихся симиларов
 - Качество итоговых рекомендаций для юзера

**Сделаем explicit ratings csr матрицу**

In [444]:
from tqdm import tqdm, trange

## Сделаем сжатую матрицу user-to-item для ex
ratings_user_item = sp.coo_matrix((ratings.rating, (ratings.user_id, ratings.movie_id)))
ratings_user_item_csr = ratings_user_item.tocsr()
ratings_item_user_csr = ratings_user_item.T.tocsr()

### Для уменьшения boilerplate'а кода напишем Core общий для всех классов

In [445]:
class CoreMF:
    """
    iterations: int
      Amount of algorithm iterations\n
      default = 1_000_000

    factors: int
      Dimension of latent space\n
      default = 64

    learning_rate: float
      Used only in gradient descent bases algorithms\n
      default = 1e-2

    alpha: float
      (L2 - Ridge regularization)\n
      Regularization value for user-factors / item-factors matrices weights\n
      default = 1e-2

    beta: float
      (L1 - Lasso regularization)\n
      Regularization value for user / item biases\n
      default = 1e-2
      
    X: 2-D np.ndarray
      User latent matrix (|Users| x factors)
    
    Y: 2-D np.ndarray
      Item latent matrix (|Items| x factors)
    """
    def __init__(self, 
                 iterations:     float = 1e6,
                 factors:        int   = 64,
                 learning_rate:  float = 1e-2,
                 alpha:          float = 1e-2,
                 beta:           float = 1e-2,
                 seed:           int   = 0,
                 calculate_loss: bool  = True):
        self.iterations = int(iterations)
        self.factors = factors
        self.learning_rate = learning_rate
        self.alpha = alpha
        self.beta = beta
        self.seed = seed
        self.calculate_loss = calculate_loss
        
        ## -- Will be computed in fit function
        self.user_to_item = None
        self.user_factors = None
        self.item_factors = None
        self.user_bias = None
        self.item_bias = None
        self.bias = None
        self.nonzero = None
        self.nonzero_count = None

    def __random_nonzero_indices__(self) -> (int, int):
        """
        :return: coordinates of random nonzero element (x, y) ~ (row, column)
        """
        index = np.random.randint(low=0, high=self.nonzero_count)
        return self.user_indices[index], self.item_indices[index]

    def __fit_preparation__(self, user_to_item: sp.csr_matrix, init_biases=False):
        """
        Initializes user-factorization and item-factorization matrices with values in range
        ( 0; 1 / sqrt(factors) )

        Also stores non zero elements in self.nonzero field

        :param user_to_item: User-to-Item sparse matrix with ratings (scipy.sparse.csr_matrix)
        :param init_biases: Responsible for initial biases (initializes them as mean)
        :return: None
        """
        np.random.seed(self.seed)
        
        n_users, n_items = user_to_item.shape
        k = self.factors

        self.user_factors = np.random.rand(n_users, k) / np.sqrt(k)
        self.item_factors = np.random.rand(n_items, k) / np.sqrt(k)

        self.user_indices, self.item_indices = user_to_item.nonzero()
        self.nonzero_count = user_to_item.count_nonzero()

        if init_biases:
            self.bias = user_to_item.mean()
            self.user_bias = np.array(user_to_item.mean(axis=1)).reshape(-1)
            self.item_bias = np.array(user_to_item.mean(axis=0)).reshape(-1)


    def predict(self, i, j):
        return self.user_factors[i] @ self.item_factors[j]

    def similar_items(self, item_id, top_k=10) -> (np.array, np.array):
        """
        Calculates similarity by Euclidean distance.

        :param item_id: zero indexed item id which corresponds to index of given user-to-item matrix for fit.
        :param top_k: number of returned similar items
        :return: (item_ids_sorted_by_score, scores)
        """
        scores  = np.linalg.norm(self.item_factors - self.item_factors[item_id], axis=1)
        indices = np.argsort(scores)
        return indices[:top_k], np.sort(scores)[:top_k]
    
    def recommend(self, user_index, amount=10) -> np.array:
        """
        Returns user recomendations by best score, which user hadn't been rated.
        """
        user_predictions = self.user_factors[user_index] @ self.item_factors.T
        known_item_ids   = self.item_indices[self.user_indices == user_index]
        user_predictions[known_item_ids] = np.NINF
        return np.argsort(user_predictions.reshape(-1))[-amount:]
        

    def rmse(self, user_to_item: sp.csr_matrix, tqdm_range=None, n_elements=250, use_all=False):
        if use_all:
            indices = range(self.nonzero_count)
        else:
            indices = np.random.randint(low=0, high=self.nonzero_count, size=n_elements)

        def get_error(idx):
            i, j   = self.user_indices[idx], self.item_indices[idx]
            actual = user_to_item[i, j]
            return (self.predict(i, j) - actual) ** 2

        loss = np.fromiter(map(get_error , indices), dtype=np.float64)

        rmse_loss = np.sqrt(np.mean(loss))
        

        if tqdm_range is not None:
            tqdm_range.set_postfix_str("RMSE loss of random {} elements: {:.5f}".format(n_elements, rmse_loss))

        return rmse_loss

### Задание 1. Не использую готовые решения, реализовать SVD разложение используя SGD на explicit данных

In [446]:
class StochasticGradientDescentSVD(CoreMF):
    def predict(self, i, j):
        return super().predict(i, j) + self.user_bias[i] + self.item_bias[j] + self.bias
    
    def fit(self, user_to_item: sp.csr_matrix):
        self.__fit_preparation__(user_to_item, init_biases=True)

        tqdm_range = trange(self.iterations, desc='Epochs', colour='green')

        for it in tqdm_range:
            i, j = self.__random_nonzero_indices__()
            error = self.predict(i, j) - user_to_item[i, j]
            
            self.user_bias[i] -= self.learning_rate \
                * (error + self.beta * self.user_bias[i])
            
            self.item_bias[j] -= self.learning_rate \
                * (error + self.beta * self.item_bias[j])

            self.user_factors[i] -= self.learning_rate \
                * (self.alpha * self.user_factors[i] + error * self.item_factors[j])

            self.item_factors[j] -= self.learning_rate \
                * (self.alpha * self.item_factors[j] + error * self.user_factors[i])

            if it % 10_001 == 0 and self.calculate_loss:
                self.rmse(user_to_item, tqdm_range=tqdm_range)

In [557]:
%%time 

svd_model = StochasticGradientDescentSVD(iterations=1e7, factors=64, learning_rate=1e-2, alpha=1e-6, beta=2e-6,
                                        seed=200)

svd_model.fit(ratings_user_item_csr)

Epochs: 100%|██████████| 10000000/10000000 [10:23<00:00, 16033.57it/s, RMSE loss of random 250 elements: 0.71254]

CPU times: user 9min 44s, sys: 23.4 s, total: 10min 7s
Wall time: 10min 23s

#### Посмотрим на получившиеся симилары для Toy Story     ( SVD  SGD with Biases )

In [558]:
ids, scores = svd_model.similar_items(item_id=TOY_STORY_ID)
get_movies(ids)

                                     name                             category
movie_id
0                        Toy Story (1995)          Animation|Children's|Comedy
3113                   Toy Story 2 (1999)          Animation|Children's|Comedy
2088      Rescuers Down Under, The (1990)                 Animation|Children's
2077              Jungle Book, The (1967)  Animation|Children's|Comedy|Musical
2686                        Tarzan (1999)                 Animation|Children's
1032        Fox and the Hound, The (1981)                 Animation|Children's
576                          Andre (1994)                 Adventure|Children's
3075                 Irma la Douce (1963)                               Comedy
595                      Pinocchio (1940)                 Animation|Children's
3033                    Robin Hood (1973)                 Animation|Children's

**История юзера:**

In [559]:
get_history(USER_ACTION_ID, implicit_ratings)

,name,category
movie_id,,
3467,"Hustler, The (1961)",Drama
2950,"Fistful of Dollars, A (1964)",Action|Western
1213,Alien (1979),Action|Horror|Sci-Fi|Thriller
1035,Die Hard (1988),Action|Thriller
259,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2027,Saving Private Ryan (1998),Action|Drama|War
479,Jurassic Park (1993),Action|Adventure|Sci-Fi
1197,Raiders of the Lost Ark (1981),Action|Adventure
1953,Rocky (1976),Action|Drama
1096,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
3417,Thelma & Louise (1991),Action|Drama
3701,Mad Max (1979),Action|Sci-Fi
2365,King Kong (1933),Action|Adventure|Horror
1386,Jaws (1975),Action|Horror
1200,"Good, The Bad and The Ugly, The (1966)",Action|Western
2691,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
2946,Goldfinger (1964),Action
1239,"Terminator, The (1984)",Action|Sci-Fi|Thriller

**Рекомендации:**

In [560]:
get_recommendations(USER_ACTION_ID, svd_model)

,name,category
movie_id,,
1210,Wings of Desire (Der Himmel �ber Berlin) (1987),Comedy|Drama|Romance
1226,Once Upon a Time in America (1984),Crime|Drama|Thriller
1236,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama
174,Kids (1995),Drama
2299,"Producers, The (1968)",Comedy|Musical
1202,12 Angry Men (1957),Drama
1947,Tom Jones (1963),Comedy
948,East of Eden (1955),Drama
3745,Butterfly (La Lengua de las Mariposas) (2000),Drama|War
3259,Howards End (1992),Drama

### Задание 2. Не использую готовые решения, реализовать матричное разложение используя ALS на implicit данных

In [451]:
class ALS(CoreMF): 
    
    def __init__(self, iterations, factors, alpha, confidence, seed, calculate_loss=True):
        '''
        Attributes 
        ----------
        confidence: float 
          user-item confidence regularization parameter C{u,i} = 1 + confidence * R{u,i}
        '''
        super().__init__(iterations=iterations, 
                         factors=factors,
                         learning_rate=None, 
                         alpha=alpha, 
                         beta=None, 
                         seed=seed,
                         calculate_loss=calculate_loss)
        self.confidence = confidence
    
    def fit(self, user_to_item: sp.csr_matrix):    
        self.__fit_preparation__(user_to_item)
        
        implicit_values  = user_to_item.toarray()
        n_users, n_items = user_to_item.shape
        
        # Preference matrix user-to-item
        P   = np.where(implicit_values > 0, 1, 0) 
        P_t = P.T
        
        # Confidence matrix user-to-item
        C   = 1 + self.confidence * implicit_values
        C_t = C.T
        
        # Identity regularization matrix
        alpha_identity = self.alpha * np.eye(self.factors)   # factors x factors
                
        tqdm_range = tqdm(np.arange(self.iterations), desc='Epochs', colour='green')
        
        def als_step(n, fixed, latent, preference_matrix, confidence_matrix):
            Y   = fixed   # m x factors
            YT  = fixed.T # factors x m
            YTY = YT @ Y  # factors x factors
           
            for j in np.arange(n):
                
                # X[j] * (YT * C[j] * Y + alpha * E) = YT * C[j] * P[j] 
                # Faster way to calculate [ YT * C[j] * Y ]: [ YT * Y + YT * (C[j] - E) * Y ]
               
                confidence   = confidence_matrix[j] # 1 x m
                preference   = preference_matrix[j] # 1 x m
                
                nonzero_mask = preference > 0
                YT_Cj        = YT[:, nonzero_mask] * confidence[nonzero_mask]
                YT_Cj_Pj     = np.sum(YT_Cj, axis=1)                             
                
                YT_Cj        = YT[:, nonzero_mask] * (confidence - 1)[nonzero_mask] # factors x nonzero
                YT_Cj_Y      = YT_Cj @ Y[nonzero_mask, :]                           # factors x factors 
                
                latent[j]    = np.linalg.solve(YTY + YT_Cj_Y + alpha_identity, YT_Cj_Pj)
         
        
        for _ in tqdm_range:
            # Users learning
            als_step(n_users, self.item_factors, self.user_factors, P, C)
            
            # Items learning
            als_step(n_items, self.user_factors, self.item_factors, P_t, C_t)
            
            if self.calculate_loss:
                self.rmse(user_to_item, tqdm_range, n_elements=10_000)

In [553]:
## Поставим alpha = 0, так как наши implicit данные уже состоят только из 0 и 1  (Симилары выходят лучше)
%time

als_model = ALS(iterations=10, factors=64, alpha=1e-5, confidence=0, seed=239)
als_model.fit(user_item_csr)

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 19.3 µs

Epochs: 100%|██████████| 10/10 [00:37<00:00,  3.75s/it, RMSE loss of random 10000 elements: 0.64172]

#### Посмотрим на получившиеся симилары для Toy Story ( ALS )

In [554]:
ids, scores = als_model.similar_items(item_id=TOY_STORY_ID)
get_movies(ids)

,name,category
movie_id,,
0,Toy Story (1995),Animation|Children's|Comedy
3113,Toy Story 2 (1999),Animation|Children's|Comedy
2354,"Bug's Life, A (1998)",Animation|Children's|Comedy
587,Aladdin (1992),Animation|Children's|Comedy|Musical
1906,Mulan (1998),Animation|Children's
2293,Antz (1998),Animation|Children's
2686,Tarzan (1999),Animation|Children's
363,"Lion King, The (1994)",Animation|Children's|Musical
2760,"Iron Giant, The (1999)",Animation|Children's
1565,Hercules (1997),Adventure|Animation|Children's|Comedy|Musical

**История юзера:**

In [555]:
get_history(USER_ACTION_ID, implicit_ratings)

,name,category
movie_id,,
3467,"Hustler, The (1961)",Drama
2950,"Fistful of Dollars, A (1964)",Action|Western
1213,Alien (1979),Action|Horror|Sci-Fi|Thriller
1035,Die Hard (1988),Action|Thriller
259,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2027,Saving Private Ryan (1998),Action|Drama|War
479,Jurassic Park (1993),Action|Adventure|Sci-Fi
1197,Raiders of the Lost Ark (1981),Action|Adventure
1953,Rocky (1976),Action|Drama
1096,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
3417,Thelma & Louise (1991),Action|Drama
3701,Mad Max (1979),Action|Sci-Fi
2365,King Kong (1933),Action|Adventure|Horror
1386,Jaws (1975),Action|Horror
1200,"Good, The Bad and The Ugly, The (1966)",Action|Western
2691,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
2946,Goldfinger (1964),Action
1239,"Terminator, The (1984)",Action|Sci-Fi|Thriller

**Рекомендации:**

In [556]:
get_recommendations(USER_ACTION_ID, als_model)

,name,category
movie_id,,
2948,Dr. No (1962),Action
3526,Predator (1987),Action|Sci-Fi|Thriller
456,"Fugitive, The (1993)",Action|Thriller
1952,"French Connection, The (1971)",Action|Crime|Drama|Thriller
3470,Close Encounters of the Third Kind (1977),Drama|Sci-Fi
1199,Aliens (1986),Action|Sci-Fi|Thriller|War
1290,Indiana Jones and the Last Crusade (1989),Action|Adventure
1303,Butch Cassidy and the Sundance Kid (1969),Action|Comedy|Western
1195,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
588,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller

### Задание 3. Не использую готовые решения, реализовать матричное разложение BPR на implicit данных

In [456]:
class BPR(CoreMF):
    def __init__(self, iterations, factors, learning_rate, alpha, seed):
        super().__init__(iterations, factors, learning_rate, alpha, seed=seed, beta=None, calculate_loss=None)
        self.positives = {}
        self.negatives = {}
    
    def negative_choice(self, u):
        return np.random.choice(self.negatives[u])
        
    def fit(self, user_to_item: sp.csr_matrix):     
        self.__fit_preparation__(user_to_item)
        
        implicit_values  = user_to_item.toarray()
        n_users, n_items = user_to_item.shape
        
        items_range = np.arange(n_items)
        users_range = np.unique(self.user_indices)

        for u in np.arange(n_users):
            values            = implicit_values[u]
            self.positives[u] = items_range[values >  0]
            self.negatives[u] = items_range[values == 0]

        def anti_gradient_step(margin, gradient, latent):
            exp = np.exp(-margin)
            return self.learning_rate * ((exp / (1 + exp)) * gradient - self.alpha * latent)
                    
        for it in np.arange(self.iterations):
            for u in tqdm(users_range, desc='Epoch {}'.format(it + 1), colour='green'):
                for positive in self.positives[u]:
                    negative = self.negative_choice(u)
                    
                    positive_item = self.item_factors[positive]
                    negative_item = self.item_factors[negative]
                    user_factors  = self.user_factors[u]
                    delta         = positive_item - negative_item
                    
                    margin = user_factors @ delta.T
                    
                    self.user_factors[u]        += anti_gradient_step(margin, delta, user_factors)   
                    self.item_factors[positive] += anti_gradient_step(margin, user_factors, positive_item)
                    self.item_factors[negative] += anti_gradient_step(margin, -user_factors, negative_item)

In [520]:
%%time 

bpr_model = BPR(iterations=150, factors=64, learning_rate=1e-2, alpha=1e-4, seed=239)

bpr_model.fit(user_item_csr)

Epoch 1: 100%|██████████| 6038/6038 [00:18<00:00, 323.50it/s]
Epoch 2: 100%|██████████| 6038/6038 [00:18<00:00, 325.44it/s]
Epoch 3: 100%|██████████| 6038/6038 [00:18<00:00, 324.20it/s]
Epoch 4: 100%|██████████| 6038/6038 [00:18<00:00, 325.61it/s]
Epoch 5: 100%|██████████| 6038/6038 [00:18<00:00, 328.89it/s]
Epoch 6: 100%|██████████| 6038/6038 [00:18<00:00, 323.77it/s]
Epoch 7: 100%|██████████| 6038/6038 [00:18<00:00, 327.56it/s]
Epoch 8: 100%|██████████| 6038/6038 [00:18<00:00, 326.09it/s]
Epoch 9: 100%|██████████| 6038/6038 [00:18<00:00, 323.31it/s]
Epoch 10: 100%|██████████| 6038/6038 [00:18<00:00, 324.08it/s]
Epoch 11: 100%|██████████| 6038/6038 [00:18<00:00, 325.04it/s]
Epoch 12: 100%|██████████| 6038/6038 [00:18<00:00, 321.46it/s]
Epoch 13: 100%|██████████| 6038/6038 [00:18<00:00, 324.73it/s]
Epoch 14: 100%|██████████| 6038/6038 [00:18<00:00, 325.72it/s]
Epoch 15: 100%|██████████| 6038/6038 [00:18<00:00, 325.69it/s]
Epoch 16: 100%|██████████| 6038/6038 [00:18<00:00, 327.82it/s]
Epoch 17: 100%|██████████| 6038/6038 [00:18<00:00, 326.70it/s]
Epoch 18: 100%|██████████| 6038/6038 [00:18<00:00, 328.65it/s]
Epoch 19: 100%|██████████| 6038/6038 [00:18<00:00, 324.27it/s]
Epoch 20: 100%|██████████| 6038/6038 [00:18<00:00, 325.82it/s]
Epoch 21: 100%|██████████| 6038/6038 [00:18<00:00, 330.80it/s]
Epoch 22: 100%|██████████| 6038/6038 [00:18<00:00, 328.16it/s]
Epoch 23: 100%|██████████| 6038/6038 [00:18<00:00, 329.10it/s]
Epoch 24: 100%|██████████| 6038/6038 [00:18<00:00, 327.76it/s]
Epoch 25: 100%|██████████| 6038/6038 [00:18<00:00, 327.96it/s]
Epoch 26: 100%|██████████| 6038/6038 [00:18<00:00, 328.77it/s]
Epoch 27: 100%|██████████| 6038/6038 [00:18<00:00, 329.43it/s]
Epoch 28: 100%|██████████| 6038/6038 [00:18<00:00, 324.98it/s]
Epoch 29: 100%|██████████| 6038/6038 [00:18<00:00, 326.44it/s]
Epoch 30: 100%|██████████| 6038/6038 [00:18<00:00, 325.91it/s]
Epoch 31: 100%|██████████| 6038/6038 [00:18<00:00, 328.71it/s]
Epoch 32: 100%|██████████| 6038/6038 [00:18<00:00, 324.91it/s]
Epoch 33: 100%|██████████| 6038/6038 [00:18<00:00, 322.09it/s]
Epoch 34: 100%|██████████| 6038/6038 [00:18<00:00, 328.24it/s]
Epoch 35: 100%|██████████| 6038/6038 [00:18<00:00, 327.90it/s]
Epoch 36: 100%|██████████| 6038/6038 [00:18<00:00, 327.92it/s]
Epoch 37: 100%|██████████| 6038/6038 [00:18<00:00, 328.83it/s]
Epoch 38: 100%|██████████| 6038/6038 [00:18<00:00, 326.43it/s]
Epoch 39: 100%|██████████| 6038/6038 [00:18<00:00, 326.69it/s]
Epoch 40: 100%|██████████| 6038/6038 [00:18<00:00, 327.27it/s]
Epoch 41: 100%|██████████| 6038/6038 [00:18<00:00, 328.61it/s]
Epoch 42: 100%|██████████| 6038/6038 [00:18<00:00, 330.22it/s]
Epoch 43: 100%|██████████| 6038/6038 [00:18<00:00, 328.97it/s]
Epoch 44: 100%|██████████| 6038/6038 [00:18<00:00, 329.88it/s]
Epoch 45: 100%|██████████| 6038/6038 [00:18<00:00, 325.27it/s]
Epoch 46: 100%|██████████| 6038/6038 [00:18<00:00, 326.83it/s]
Epoch 47: 100%|██████████| 6038/6038 [00:18<00:00, 328.43it/s]
Epoch 48: 100%|██████████| 6038/6038 [00:18<00:00, 326.52it/s]
Epoch 49: 100%|██████████| 6038/6038 [00:18<00:00, 325.75it/s]
Epoch 50: 100%|██████████| 6038/6038 [00:18<00:00, 327.57it/s]
Epoch 51: 100%|██████████| 6038/6038 [00:18<00:00, 325.84it/s]
Epoch 52: 100%|██████████| 6038/6038 [00:18<00:00, 325.51it/s]
Epoch 53: 100%|██████████| 6038/6038 [00:18<00:00, 327.67it/s]
Epoch 54: 100%|██████████| 6038/6038 [00:18<00:00, 324.77it/s]
Epoch 55: 100%|██████████| 6038/6038 [00:18<00:00, 326.92it/s]
Epoch 56: 100%|██████████| 6038/6038 [00:18<00:00, 327.61it/s]
Epoch 57: 100%|██████████| 6038/6038 [00:18<00:00, 324.43it/s]
Epoch 58: 100%|██████████| 6038/6038 [00:18<00:00, 319.77it/s]
Epoch 59: 100%|██████████| 6038/6038 [00:18<00:00, 324.08it/s]
Epoch 60: 100%|██████████| 6038/6038 [00:18<00:00, 325.39it/s]
Epoch 61: 100%|██████████| 6038/6038 [00:18<00:00, 323.67it/s]
Epoch 62: 100%|██████████| 6038/6038 [00:18<00:00, 323.21it/s]
Epoch 63: 100%|██████████| 6038/6038 [00:18<00:00, 324.20it/s]
Epoch 64: 100%|██████████| 6038/6038 [00:18<00:00, 321.10it/s]
Epoch 65: 100%|██████████| 6038/6038 [00:18<00:00, 322.04it/s]
Epoch 66: 100%|██████████| 6038/6038 [00:18<00:00, 325.12it/s]
Epoch 67: 100%|██████████| 6038/6038 [00:18<00:00, 324.66it/s]
Epoch 68: 100%|██████████| 6038/6038 [00:18<00:00, 327.90it/s]
Epoch 69: 100%|██████████| 6038/6038 [00:18<00:00, 323.26it/s]
Epoch 70: 100%|██████████| 6038/6038 [00:18<00:00, 327.68it/s]
Epoch 71: 100%|██████████| 6038/6038 [00:18<00:00, 324.72it/s]
Epoch 72: 100%|██████████| 6038/6038 [00:19<00:00, 316.69it/s]
Epoch 73: 100%|██████████| 6038/6038 [00:18<00:00, 328.47it/s]
Epoch 74: 100%|██████████| 6038/6038 [00:18<00:00, 319.53it/s]
Epoch 75: 100%|██████████| 6038/6038 [00:18<00:00, 326.60it/s]
Epoch 76: 100%|██████████| 6038/6038 [00:18<00:00, 319.90it/s]
Epoch 77: 100%|██████████| 6038/6038 [00:18<00:00, 320.12it/s]
Epoch 78: 100%|██████████| 6038/6038 [00:18<00:00, 322.90it/s]
Epoch 79: 100%|██████████| 6038/6038 [00:18<00:00, 324.05it/s]
Epoch 80: 100%|██████████| 6038/6038 [00:18<00:00, 324.92it/s]
Epoch 81: 100%|██████████| 6038/6038 [00:18<00:00, 325.37it/s]
Epoch 82: 100%|██████████| 6038/6038 [00:18<00:00, 322.17it/s]
Epoch 83: 100%|██████████| 6038/6038 [00:18<00:00, 323.87it/s]
Epoch 84: 100%|██████████| 6038/6038 [00:18<00:00, 323.17it/s]
Epoch 85: 100%|██████████| 6038/6038 [00:18<00:00, 323.11it/s]
Epoch 86: 100%|██████████| 6038/6038 [00:18<00:00, 323.20it/s]
Epoch 87: 100%|██████████| 6038/6038 [00:18<00:00, 324.09it/s]
Epoch 88: 100%|██████████| 6038/6038 [00:18<00:00, 323.47it/s]
Epoch 89: 100%|██████████| 6038/6038 [00:18<00:00, 324.58it/s]
Epoch 90: 100%|██████████| 6038/6038 [00:18<00:00, 320.59it/s]
Epoch 91: 100%|██████████| 6038/6038 [00:18<00:00, 322.62it/s]
Epoch 92: 100%|██████████| 6038/6038 [00:18<00:00, 326.50it/s]
Epoch 93: 100%|██████████| 6038/6038 [00:19<00:00, 313.65it/s]
Epoch 94: 100%|██████████| 6038/6038 [00:24<00:00, 247.07it/s]
Epoch 95: 100%|██████████| 6038/6038 [00:20<00:00, 295.95it/s]
Epoch 96: 100%|██████████| 6038/6038 [00:24<00:00, 242.45it/s]
Epoch 97: 100%|██████████| 6038/6038 [00:21<00:00, 280.98it/s]
Epoch 98: 100%|██████████| 6038/6038 [00:22<00:00, 263.79it/s]
Epoch 99: 100%|██████████| 6038/6038 [00:22<00:00, 265.79it/s]
Epoch 100: 100%|██████████| 6038/6038 [00:26<00:00, 229.30it/s]
Epoch 101: 100%|██████████| 6038/6038 [00:37<00:00, 163.10it/s]
Epoch 102: 100%|██████████| 6038/6038 [00:39<00:00, 151.47it/s]
Epoch 103: 100%|██████████| 6038/6038 [00:34<00:00, 173.85it/s]
Epoch 104: 100%|██████████| 6038/6038 [00:30<00:00, 198.74it/s]
Epoch 105: 100%|██████████| 6038/6038 [00:26<00:00, 230.96it/s]
Epoch 106: 100%|██████████| 6038/6038 [00:31<00:00, 189.28it/s]
Epoch 107: 100%|██████████| 6038/6038 [00:27<00:00, 221.71it/s]
Epoch 108: 100%|██████████| 6038/6038 [00:32<00:00, 185.86it/s]
Epoch 109: 100%|██████████| 6038/6038 [00:34<00:00, 174.96it/s]
Epoch 110: 100%|██████████| 6038/6038 [00:33<00:00, 179.57it/s]
Epoch 111: 100%|██████████| 6038/6038 [00:23<00:00, 254.65it/s]
Epoch 112: 100%|██████████| 6038/6038 [00:33<00:00, 180.41it/s]
Epoch 113: 100%|██████████| 6038/6038 [00:35<00:00, 168.72it/s]

Epoch 114: 100%|██████████| 6038/6038 [00:28<00:00, 212.28it/s]
Epoch 115: 100%|██████████| 6038/6038 [00:34<00:00, 173.80it/s]
Epoch 116: 100%|██████████| 6038/6038 [00:38<00:00, 156.08it/s]
Epoch 117: 100%|██████████| 6038/6038 [00:26<00:00, 227.68it/s]
Epoch 118: 100%|██████████| 6038/6038 [00:24<00:00, 243.57it/s]
Epoch 119: 100%|██████████| 6038/6038 [00:24<00:00, 243.22it/s]
Epoch 120: 100%|██████████| 6038/6038 [00:24<00:00, 244.46it/s]
Epoch 121: 100%|██████████| 6038/6038 [00:23<00:00, 259.16it/s]
Epoch 122: 100%|██████████| 6038/6038 [00:22<00:00, 267.45it/s]
Epoch 123: 100%|██████████| 6038/6038 [00:24<00:00, 245.28it/s]
Epoch 124: 100%|██████████| 6038/6038 [00:30<00:00, 196.93it/s]
Epoch 125: 100%|██████████| 6038/6038 [00:22<00:00, 264.17it/s]
Epoch 126: 100%|██████████| 6038/6038 [00:25<00:00, 238.77it/s]
Epoch 127: 100%|██████████| 6038/6038 [00:26<00:00, 230.77it/s]
Epoch 128: 100%|██████████| 6038/6038 [00:23<00:00, 257.87it/s]
Epoch 129: 100%|██████████| 6038/6038 [00:22<00:00, 274.11it/s]
Epoch 130: 100%|██████████| 6038/6038 [00:24<00:00, 251.43it/s]
Epoch 131: 100%|██████████| 6038/6038 [00:21<00:00, 278.63it/s]
Epoch 132: 100%|██████████| 6038/6038 [00:22<00:00, 268.62it/s]
Epoch 133: 100%|██████████| 6038/6038 [00:22<00:00, 272.72it/s]
Epoch 134: 100%|██████████| 6038/6038 [00:21<00:00, 277.86it/s]
Epoch 135: 100%|██████████| 6038/6038 [00:21<00:00, 274.86it/s]
Epoch 136: 100%|██████████| 6038/6038 [00:21<00:00, 276.14it/s]
Epoch 137: 100%|██████████| 6038/6038 [00:21<00:00, 274.71it/s]
Epoch 138: 100%|██████████| 6038/6038 [00:21<00:00, 274.71it/s]
Epoch 139: 100%|██████████| 6038/6038 [00:22<00:00, 269.59it/s]
Epoch 140: 100%|██████████| 6038/6038 [00:21<00:00, 285.56it/s]
Epoch 141: 100%|██████████| 6038/6038 [00:22<00:00, 269.34it/s]
Epoch 142: 100%|██████████| 6038/6038 [00:22<00:00, 266.31it/s]
Epoch 143: 100%|██████████| 6038/6038 [00:23<00:00, 260.17it/s]
Epoch 144: 100%|██████████| 6038/6038 [00:22<00:00, 265.07it/s]
Epoch 145: 100%|██████████| 6038/6038 [00:21<00:00, 278.48it/s]
Epoch 146: 100%|██████████| 6038/6038 [00:22<00:00, 270.01it/s]
Epoch 147: 100%|██████████| 6038/6038 [00:23<00:00, 258.10it/s]
Epoch 148: 100%|██████████| 6038/6038 [00:21<00:00, 278.34it/s]
Epoch 149: 100%|██████████| 6038/6038 [00:21<00:00, 283.12it/s]
Epoch 150: 100%|██████████| 6038/6038 [00:23<00:00, 252.46it/s]

CPU times: user 49min 59s, sys: 45.2 s, total: 50min 44s
Wall time: 53min 23s

#### Посмотрим на получившиеся симилары для Toy Story ( BPR )

In [528]:
ids, scores = bpr_model.similar_items(item_id=TOY_STORY_ID)
get_movies(ids)

,name,category
movie_id,,
0,Toy Story (1995),Animation|Children's|Comedy
3113,Toy Story 2 (1999),Animation|Children's|Comedy
587,Aladdin (1992),Animation|Children's|Comedy|Musical
2354,"Bug's Life, A (1998)",Animation|Children's|Comedy
33,Babe (1995),Children's|Comedy|Drama
363,"Lion King, The (1994)",Animation|Children's|Musical
2320,Pleasantville (1998),Comedy
2293,Antz (1998),Animation|Children's
550,"Nightmare Before Christmas, The (1993)",Children's|Comedy|Musical
918,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical

**История юзера:**

In [529]:
get_history(USER_ACTION_ID, implicit_ratings)

,name,category
movie_id,,
3467,"Hustler, The (1961)",Drama
2950,"Fistful of Dollars, A (1964)",Action|Western
1213,Alien (1979),Action|Horror|Sci-Fi|Thriller
1035,Die Hard (1988),Action|Thriller
259,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2027,Saving Private Ryan (1998),Action|Drama|War
479,Jurassic Park (1993),Action|Adventure|Sci-Fi
1197,Raiders of the Lost Ark (1981),Action|Adventure
1953,Rocky (1976),Action|Drama
1096,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
3417,Thelma & Louise (1991),Action|Drama
3701,Mad Max (1979),Action|Sci-Fi
2365,King Kong (1933),Action|Adventure|Horror
1386,Jaws (1975),Action|Horror
1200,"Good, The Bad and The Ugly, The (1966)",Action|Western
2691,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
2946,Goldfinger (1964),Action
1239,"Terminator, The (1984)",Action|Sci-Fi|Thriller

**Рекомендации:**

In [530]:
get_recommendations(USER_ACTION_ID, bpr_model)

,name,category
movie_id,,
1199,Aliens (1986),Action|Sci-Fi|Thriller|War
592,"Silence of the Lambs, The (1991)",Drama|Thriller
109,Braveheart (1995),Action|Drama|War
2570,"Matrix, The (1999)",Action|Sci-Fi|Thriller
1209,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
1303,Butch Cassidy and the Sundance Kid (1969),Action|Comedy|Western
1220,"Godfather: Part II, The (1974)",Action|Crime|Drama
588,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
1195,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
857,"Godfather, The (1972)",Action|Crime|Drama

### Задание 4. Не использую готовые решения, реализовать матричное разложение WARP на implicit данных

In [461]:
class WARP(BPR):
    def __init__(self, iterations, factors, learning_rate, alpha, max_warp_sampled, seed): 
        super().__init__(iterations, factors, learning_rate, alpha, seed)
        self.max_warp_sampled = max_warp_sampled
    
    def negative_choice(self, u):
        size      = min(self.max_warp_sampled, len(self.negatives[u]))
        negatives = np.random.choice(self.negatives[u], size, replace=False)
        ids       = dict(zip(np.arange(self.max_warp_sampled), negatives))
        scores    = self.user_factors[u] @ self.item_factors[negatives].T
        best_id   = np.argsort(scores)[-1]
        return ids[best_id]

In [531]:
%%time

warp_model = WARP(iterations=20, factors=64, learning_rate=1e-2, alpha=1e-4, max_warp_sampled=250, seed=239)

warp_model.fit(user_item_csr)

Epoch 1: 100%|██████████| 6038/6038 [02:48<00:00, 35.80it/s]
Epoch 2: 100%|██████████| 6038/6038 [02:28<00:00, 40.67it/s]
Epoch 3: 100%|██████████| 6038/6038 [02:28<00:00, 40.78it/s]
Epoch 4: 100%|██████████| 6038/6038 [02:24<00:00, 41.81it/s]
Epoch 5: 100%|██████████| 6038/6038 [02:25<00:00, 41.60it/s]
Epoch 6: 100%|██████████| 6038/6038 [02:29<00:00, 40.40it/s]
Epoch 7: 100%|██████████| 6038/6038 [02:21<00:00, 42.81it/s]
Epoch 8: 100%|██████████| 6038/6038 [02:21<00:00, 42.60it/s]
Epoch 9: 100%|██████████| 6038/6038 [02:20<00:00, 43.04it/s]
Epoch 10: 100%|██████████| 6038/6038 [02:17<00:00, 43.77it/s]
Epoch 11: 100%|██████████| 6038/6038 [02:18<00:00, 43.61it/s]
Epoch 12: 100%|██████████| 6038/6038 [02:51<00:00, 35.23it/s]
Epoch 13: 100%|██████████| 6038/6038 [02:30<00:00, 40.05it/s]
Epoch 14: 100%|██████████| 6038/6038 [02:31<00:00, 39.96it/s]
Epoch 15: 100%|██████████| 6038/6038 [02:29<00:00, 40.31it/s]
Epoch 16: 100%|██████████| 6038/6038 [02:57<00:00, 33.93it/s]
Epoch 17: 100%|██████████| 6038/6038 [02:33<00:00, 39.38it/s]
Epoch 18: 100%|██████████| 6038/6038 [02:15<00:00, 44.56it/s]
Epoch 19: 100%|██████████| 6038/6038 [02:18<00:00, 43.67it/s]
Epoch 20: 100%|██████████| 6038/6038 [02:09<00:00, 46.64it/s]

CPU times: user 1h 28min 39s, sys: 1min 39s, total: 1h 30min 18s
Wall time: 49min 21s

#### Посмотрим на получившиеся симилары для Toy Story ( WARP )

In [532]:
ids, scores = warp_model.similar_items(item_id=TOY_STORY_ID)
get_movies(ids)

,name,category
movie_id,,
0,Toy Story (1995),Animation|Children's|Comedy
3113,Toy Story 2 (1999),Animation|Children's|Comedy
587,Aladdin (1992),Animation|Children's|Comedy|Musical
3395,"Muppet Movie, The (1979)",Children's|Comedy
2080,"Little Mermaid, The (1989)",Animation|Children's|Comedy|Musical|Romance
594,Beauty and the Beast (1991),Animation|Children's|Musical
2354,"Bug's Life, A (1998)",Animation|Children's|Comedy
1906,Mulan (1998),Animation|Children's
2095,Sleeping Beauty (1959),Animation|Children's|Musical
1021,Cinderella (1950),Animation|Children's|Musical

**История юзера:**

In [533]:
get_history(USER_ACTION_ID, implicit_ratings)

,name,category
movie_id,,
3467,"Hustler, The (1961)",Drama
2950,"Fistful of Dollars, A (1964)",Action|Western
1213,Alien (1979),Action|Horror|Sci-Fi|Thriller
1035,Die Hard (1988),Action|Thriller
259,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
2027,Saving Private Ryan (1998),Action|Drama|War
479,Jurassic Park (1993),Action|Adventure|Sci-Fi
1197,Raiders of the Lost Ark (1981),Action|Adventure
1953,Rocky (1976),Action|Drama
1096,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
3417,Thelma & Louise (1991),Action|Drama
3701,Mad Max (1979),Action|Sci-Fi
2365,King Kong (1933),Action|Adventure|Horror
1386,Jaws (1975),Action|Horror
1200,"Good, The Bad and The Ugly, The (1966)",Action|Western
2691,Run Lola Run (Lola rennt) (1998),Action|Crime|Romance
2946,Goldfinger (1964),Action
1239,"Terminator, The (1984)",Action|Sci-Fi|Thriller

**Рекомендации:**

In [534]:
get_recommendations(USER_ACTION_ID, warp_model)

,name,category
movie_id,,
2761,"Sixth Sense, The (1999)",Thriller
911,Casablanca (1942),Drama|Romance|War
592,"Silence of the Lambs, The (1991)",Drama|Thriller
526,Schindler's List (1993),Drama|War
1199,Aliens (1986),Action|Sci-Fi|Thriller|War
1290,Indiana Jones and the Last Crusade (1989),Action|Adventure
1209,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
2570,"Matrix, The (1999)",Action|Sci-Fi|Thriller
857,"Godfather, The (1972)",Action|Crime|Drama
588,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller